<footer class="footer">
    <div class="footer_content">
      <nav class="footer_column" aria-label="Footer Navigation">
        <h3>Navigation</h3>
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./category.html">Categories</a></li>
          <li><a href="#">Explore our Finest</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Join Us</a></li>
          <li><a href="./links.html">Links</a></li>
        </ul>
      </nav>
  
      <section class="footer_column">
        <h3>Contact</h3>
        <address>
          115 Avenida de la whiskeria<br />
          Barcelona 08038<br />
          <a href="mailto:wokiecalvo@uoc.edu">wokiecalvo@uoc.edu</a><br />
          <a href="tel:06834533">06834533</a>
        </address>
      </section>
  
      <div class="footer_column">
        <img src="./assets/auld_cask.png" alt="Whisky App Logo" class="footer_logo" />
      </div>
    </div>
  
    <div class="footer_bottom">
      <small>
        &copy; 2025 Whisky App. All rights reserved. <a href="#">Legal notice</a>
      </small>
    </div>
  </footer>